
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container">
    <a class="navbar-brand" href="/">Dash-Miton</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/ratings">Notes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/prices">Prix des recettes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/name_occurence">Ocurrence des noms</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/ingredient_occurence">Occurence des ingredients</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/ustensil_occurence">Ocurrence des ustensils</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/step">Difficultés des recettes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/table">Sample du dataset</a>
        </li>
      </ul>
    </div>
  </div>
</nav>